---
import "../styles/global.css"; // Global styling (optional)
/*
git fetch origin
git reset --hard origin/main
git add .
git commit -m "Overwrite existing files with new project"
git push --force origin main

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
*/
---

<html>
  <head>
    <title>Chandler HUANG's Web</title>
  </head>
  <body>
    <main class="page">
      <section class="welcome">
        <h1>Welcome to Chandler's Website</h1>
        <p>Explore my projects and learn more about me.</p>
        <div class="actions">
          <a href="/projects" class="button">See My Projects</a>
          <a href="/about" class="button">About Me</a>
        </div>
      </section>
    </main>
  </body>
</html>
