---
import "../styles/global.css";
---

<main class="page">
  <section class="welcome">
    <h1>WELCOME TO CHANDLER'S WEBSITE</h1>
    <p>Explore my projects and learn more about me.</p>
    <div class="actions">
      <a href="/projects" class="button">See My Projects</a>
      <a href="/about" class="button">About Me</a>
    </div>
  </section>
</main>

